resource store {
  device    /dev/drbd1;
  disk      /dev/sda6;
  meta-disk internal;

  on {{ hostname }} {
    address   127.0.0.1:7789;
  }
#  on cnm-drbd-slave {
#    address   1.2.3.4:7789;
#  }
}
